# NI Logs

log_*.dat

# Linter config

.pylintrc

# IDE files and directories

.idea/
.vscode/
.pydevproject
.project

# Python

[.]venv/

__pycache__/
*.py[cod]

build/
dist/
*.egg-info/

.coverage
coverage.xml
htmlcov
