branca==0.7.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
fastkml==0.12
folium==0.17.0
future==1.0.0
geocoder==1.38.1
idna==3.10
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.1.1
offline_folium==0.1.2
osmium==3.7.0
pygeoif==0.7
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6-WebEngine==6.7.0
PyQt6-WebEngine-Qt6==6.7.2
PyQt6-WebEngineSubwheel-Qt6==6.7.2
PyQt6_sip==13.8.0
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
python-dateutil==2.9.0.post0
ratelim==0.1.6
requests==2.32.3
shiboken6==6.7.2
six==1.16.0
urllib3==2.2.3
xyzservices==2024.9.0
