<!DOCTYPE html>
<html>
  <head>
    <title>Omnibus Socket.IO Test</title>
  </head>
  <body>
    <h1>Socket.IO HTML Client For Testing</h1>

    <button id="sendBtn">Send Info Back</button>

    <pre id="log"></pre>

    <script>
      const log = (msg) => {
          const logElem = document.getElementById("log");
          logElem.textContent += msg;
          logElem.scrollTop = logElem.scrollHeight;
      };
      log("HTML loaded");
    </script>

    <script type="module">
      import { io } from "https://esm.sh/socket.io-client@4.7.5";
      import msgpackParser from "https://esm.sh/socket.io-msgpack-parser@3.0.2";

      const log = (msg) => {
          const logElem = document.getElementById("log");
          logElem.textContent += msg;
          logElem.scrollTop = logElem.scrollHeight;
      };

      const socket = io({ parser: msgpackParser });
      socket.on("connect", () => log("connected id=" + socket.id));
      socket.on("connect_error", (err) => log("connect_error " + err));
      socket.on("disconnect", () => log("disconnected"));

      socket.onAny((event, data) => {
        log("[" + event + "]\n" + JSON.stringify(data, null, 2));
      });

      document.getElementById("sendBtn").onclick = () => {
        const channel = "send_back";
        const timestamp = Date.now() / 1000;
        const payload = { info: "Hello from HTML client!" };
        log("sending on '" + channel + "'\n" + JSON.stringify(payload, null, 2));
        socket.emit(channel, [timestamp, payload]);
      };
    </script>
  </body>
</html>
