name: Version Check

on:
  pull_request:
    branches:
      - master
    paths:
      - 'omnibus/**'

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with: 
        python-version: '3.x'

    - name: Check for version change
      run: |
        VERSION_FILE="omnibus/release_info.py"

        # Add the 'omnibus' directory to the Python path
        PYTHONPATH="$PYTHONPATH:$(pwd)/omnibus"
        export PYTHONPATH

        # Extract current version
        CURRENT_VERSION=$(python -c "from release_info import version; print(version)")
        echo "Current version: $CURRENT_VERSION"

        # Fetch the file content from the master branch
        git fetch origin master:refs/remotes/origin/master

        # Extract previous version
        PREVIOUS_VERSION=$(git show origin/master:$VERSION_FILE | python -c "import sys; exec(sys.stdin.read()); print(version)")
        echo "Previous version: $PREVIOUS_VERSION"
        
        if [ "$PREVIOUS_VERSION" != "$CURRENT_VERSION" ]; then
          echo "Version changed: $PREVIOUS_VERSION -> $CURRENT_VERSION"
        else
          echo "Action detected changes in Omnibus core library without a version update.
          Please increment the minor or major version number to reflect these changes."
          exit 1
        fi
